* {
  font-family: Sans, sans-serif, Tahoma, Arial;
  box-sizing: border-box;

  /* Bare minimum reset */
  margin: 0;
  padding: 0;
  border: 0;

  --border-col: #aaa;
  --border-style: 1px solid var(--border-col);
  color: #333;

  --left-space: 0.7rem;
  --n-left-space: calc(0rem - var(--left-space));
  --padding: 0.5rem;
  --y-line-offset: 0.5rem;
  --y-space: 0.5rem;
}

h1, #status-banner {
  margin-bottom: 1.5rem;
}

#status-banner.pass {
  color: #5FBD77;
}

#status-banner.fail {
  color: #cf1919;
}

body {
  padding: 1rem;
}

body > ul > li:first-child > .group::before {
  border-left: none;
}

/* We have a root element. This is a tree, not a forest.
 * This might always be the case with tasty?
 */
body > ul > li:first-child:last-child > .group::before {
  border-bottom: none;
}

li {
  list-style: none;
  position: relative;
  margin-left: calc(var(--left-space) * 2);
  margin-top: var(--y-space);
}

.group {
  display: block;
  border: 1px solid var(--border-col);
  padding: var(--left-space);
}

.group::before, .group::after, .item::before {
  position: absolute;
  content: "";
  left: var(--n-left-space);
  border-left: var(--border-style);
  width: var(--left-space);
}

.item::before {
  height: calc(100% + var(--y-space));
  top: calc(0px - var(--y-space));
}

.item, .group {
  background: #dfd;
}

.item.fail, .group.fail {
  background: #fdd;
}

.group::before {
  --height: calc(var(--y-line-offset) + var(--y-space));
  top: calc(var(--y-line-offset) - var(--height));
  border-bottom: var(--border-style);
  height: var(--height);
}

.group::after {
  position: absolute;
  height: 100%;
  top: var(--y-line-offset);
}

li:last-child > .group::after {
  display: none;
}
